<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Update
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" (click)="mostraPickerLibri()">Seleziona libro</ion-button>

  <!-- <form *ngIf="isBookSelected()" onsubmit="updateBook(event)"> -->
  <form *ngIf="isBookSelected()">
    <ion-item>
      <ion-label position="stacked">Titolo<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [(ngModel)]="libroSelezionato.titolo" name="titolo" type="text" placeholder="Titolo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Genere<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [(ngModel)]="libroSelezionato.genere" name="genere" type="text" placeholder="Genere"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Autore<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [(ngModel)]="libroSelezionato.autore" name="autore" type="text" placeholder="Autore"></ion-input>
    </ion-item>
  
    <div class="ion-padding" style="text-align: center;">
      <!-- <ion-button type="submit" class="ion-no-margin" color="success">Aggiorna dati</ion-button> -->
      <ion-button (click)="updateBook()" class="ion-no-margin" color="success">Aggiorna dati</ion-button>
    </div>
  </form>
</ion-content>